*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  z-index: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #612406;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #612406;
  background-color: #f3df85;
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  padding: 1.5rem;
}

.card {
  background-color: #fcf7e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  height: 400px;
  border-radius: 50px;
  overflow: hidden;
  padding-bottom: 1rem;
}

.card img {
  width: 100%;
}

.card__data {
  display: flex;
  align-items: center;
  border: 1px solid red;
  text-align: center;
  min-width: 80%;
  justify-content: space-between;
}
